* {
    margin :0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

/* logo */
.logo img {
    width: 80px;
    margin-right: 0.6rem;
    margin-top: 0.6rem;
}

.logo h2 {
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700; 
}

/* search bar */
.search {
    width: 100%;
    min-height: 10vh;
    padding: 5%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(13, 255, 166);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
.search-bar input {
    background: transparent;
    flex: 1;
    border:0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color:#070707;
}
::placeholder {
    color: rgb(17, 15, 15);
}
.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.login {
    width: 100%;
    min-height: 10vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* timeline */
.main-timeline-section{
    position: relative;
    width: 100%;
    margin:auto;
    height:300px;
    }
.main-timeline-section .timeline-start,
    .main-timeline-section .timeline-end{
    position: absolute;
    background:#F2635F;
    border-radius:100px;
    top:50%;
    transform: translateY(-50%);
    width:30px;
    height:30px;
    }
    .main-timeline-section .timeline-end{
    right:0px;
    }
    .main-timeline-section .conference-center-line{
    position: absolute;
    width:100%;
    height:5px;
    top:50%;
    transform: translateY(-50%);
    background:#F2635F;
    }
    .timeline-article{
    width: 20%;
    position: relative;
    min-height: 300px;
    float:right;
    }
    .timeline-article .content-date{
    position: absolute;
    top: 35%;
    left: -30px;
    font-size:18px;
    }
    .timeline-article .meta-date{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width:20px;
    height:20px;
    border-radius: 100%;
    background:#fff;
    border:1px solid #F2635F;
    }
    .timeline-article .content-box{
    box-shadow: 2px 2px 4px 0px #c1c1c1;
    border:1px solid #F2635F;
    border-radius: 5px;
    background-color: #fff;
    width: 180px;
    position: absolute;
    top: 60%;
    left: -80px;
    padding:10px;
    }
    .timeline-article-top .content-box:before{
    content: " ";
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:-20px;
    border:10px solid transparent;
    border-bottom-color: #F2635F;
    }
    .timeline-article-bottom .content-date{
    top: 59%;
    }
    .timeline-article-bottom .content-box{
    top: 0%;
    }
    .timeline-article-bottom .content-box:before{
    content: " ";
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:-20px;
    border:10px solid transparent;
    border-top-color:#F2635F;
    }
    @media (max-width:460px){
    body{
    display: none;
    }
    }

    /* for payment */
.pay {
    width: 100%;
    min-height: 10vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }